@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{font-family: 'Mulish', sans-serif; padding: 0; margin:0;}
.logo{
  width: 150px;
}
a{
  text-decoration: none!important;
  
}

.main{
  background-image: url('img/back.jpg');
  background-size: cover;
  background-position: center;
  min-height: 93vh;
  padding-top: 100px ;

}

.content{
  /* border: 2px solid white; */
  width: 60%;
  height: 500px;
  /* background-color: rgba(255,255,255,1); */
  
  padding-top: 170px;
  
}

.content h1{
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 80px;
}
.content h4{
  border-left: 3px solid #002359;
  padding-left: 10px;
  text-transform: capitalize;
}
.content p{
  text-transform: capitalize;
}

.buttons{
  margin-top: 30px;
}

.btn{
  
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.btn:hover{
  transform: scale(1.2);
}

#ourwork{
  border: 2px solid orange;
  color: orange;
  background-color: transparent;
  margin-right: 20px;
}
#ourwork a{
  color: orange;
}
#contactus{
  background-color: orange;
}
#contactus a{
  color:white;
}

.services{
  padding: 50px 0 ;
}
.services h1{
  text-align: center;
 
}
.servicecol{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-e{
  transition: 0.3s;
  margin: 20px 0;
 
}
.card-e:hover{
  transform: scale(1.05);
  z-index: 10;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.underline{
  width: 200px;
  height: 3px;
  background-color: orange;
  margin-bottom: 10px ;
}
.underline2{
  width: 100px;
  height: 3px;
  background-color: orange;
  margin-bottom: 50px ;
}

.choose{
  background-color: rgb(248, 248, 248);
  padding: 50px 0;
}
.feature{
  padding: 20px;
  transition:0.6s;
  
}
.feature img{
  display: block;
  margin: 20px auto;
  width: 100px;
}
.feature:hover{
  box-shadow: 0 12px 50px 4px rgba(0,0,0, 0.2);
}
.footer{
  background-color: #1d1d1d;
  padding: 30px 0 20px 0;
  color: white;

}
.footer-1 {
  margin: 20px 0;
}
.footer-1 img{
  width: 200px;

  display: block;
  margin: auto;

  margin-bottom: 20px;
}
.footer-1 p{
  text-align: center;
}
.footer-2{
  margin: 20px 0;
}
.footer-2 h4{
  color: orange;
  text-align: center;
}
.footer ul{
  list-style-type: none;
  text-align: center;
}
.footer ul li{
  margin-bottom: 13px;
}
.footer ul li a{
  color: white;
}
.footer ul li a:hover{
  color: orange;
}
.footer-3{
  margin: 20px 0;
}
.footer-3 h4{
  color: orange;
  text-align: center;
  margin-bottom: 20px;
}
.social-icons{
  text-align: center;
}
.social-icons i{
  margin-right: 10px;
  font-size: 30px;
  color: white;
  
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px ;
  text-align: center;
}

.contact-info img{
  width: 600px;
}
.contact-info span{
  font-weight: bold;
}
@media(max-width:900px){

  .main{
    padding-top:0 ;
  }
  .content{
    padding-top: 70px;
    width: 100%;
  }
  .content h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
  }
  .buttons{
    text-align: center;
  }
 .services h1{
   font-size: 30px;
 }
 .feature img{
   width: 40px;
 }
}