@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
nav{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}
.containerr{
    width: 80%;
    margin: 0 auto;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    height: 80px;
}


.logo{
   
    width: 300px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
}
.logo img{
    width: 180px;
    display: block;
    
}
.nav-links{
    display: flex;
    height: 110%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: auto 0;
}
.nav-links ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items:center;
    
    
   
}
.nav-links ul li{
    margin-left: 10px ;
    display: block;
    
}
.nav-links ul li a:hover{
   font-weight: bold;
    
}
.nav-links ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* background-color: yellow; */
    color: rgb(26, 26, 26);
   
    
    padding: 10px 10px;
    border-radius: 30px;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  
  @media(max-width:932px){
      .showw{
          opacity: 1;
      }
      .hamburger{
          display: block;
          z-index: 100;
      }
      .menu{
          position: absolute;
          top:0px;
          left:0;
          
          height: 100vh;
          flex-direction: column;
          width: 100%;
          background-color: white;
          opacity: 0;
          transition:0.3s;
      }
      
  }